<h2>Examination Dashboard</h2>

<br/>

<div>
  <p>Following is the list of System Entities with total count for each :-</p>
  <table>
    <tr>
      <th>Index No.</th>
      <th>Entity Name</th>
      <th>Total Count</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Question</td>
      <td><%= @questions_count %></td>
    </tr>
    <tr>
      <td>2</td>
      <td>Answer</td>
      <td><%= @answers_count %></td>
    </tr>
    <tr>
      <td>3</td>
      <td>User</td>
      <td><%= @users_count %></td>
    </tr>
  </table>
</div>

<br/>
<br/>

<div>
  <p>Following is the list of Tenants (API Consumers) with API request count for each :-</p>
  <table>
    <tr>
      <th>Tenant ID</th>
      <th>Tenant Name</th>
      <th>API Request Count</th>
      <th>Update</th>
    </tr>
    <% id = 1 %>
    <% @tenants.each do |tenant|%>
      <tr>
        <td><%= tenant.id %></td>
        <td><%= tenant.name %></td>
        <td id="api_count_<%= id %>"><%= tenant.api_count %></td>
        <td id="<%= id %>" class="updateButton"><button>Refresh Count</button></td>
      </tr>
      <% id += 1 %>
    <% end %>
  </table>
</div>

<script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript">
  $(".updateButton").on('click', function() {
      var button_id = this.id;
      $.ajax({
          url: '/welcome/fetch_api_count',
          type: "get",
          data: { id: button_id },
          success: function (data) {
              if (data["api_count"] == "-1") {
                  console.log("no matching tenant found");
                  return;
              }
              $("#api_count_" + button_id).html(data["api_count"]);
          }
      });
  });
</script>